mat-form-field, button {
    margin-left: 20px;
  }
  
  .pointer {
    cursor: pointer;
  }
  
  ul {
    list-style: none;
  }
  
  .loading {
    display: table;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #fff;
    opacity: 0.8;
    z-index: 1;
  }
  
  .loading-inner {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
  }
  
  mat-spinner {
    margin: 0 auto;
  }