<div>
  <header style="background-color:gray">Header</header>
  <h1>TsPlanWebClient</h1>
  <app-navigation-bar></app-navigation-bar>   
</div>
<!--
<div class="TextBox">
  <form class="example-form">
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Favorite food</mat-label>
      <input matInput placeholder="Ex. Pizza" value="Sushi">
    </mat-form-field>

    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Leave a comment</mat-label>
      <textarea matInput placeholder="Ex. It makes me feel..."></textarea>
    </mat-form-field>
  </form>
</div>
-->

<!--
<mat-toolbar color="primary">
  <span>はじめてのAngular Materialllll</span>
</mat-toolbar>

<p>main works!</p>

<mat-slider min="1" max="100" step="1" value="50"></mat-slider>
<button mat-button>test</button>

<div class="container">
    <table class="table">
      <thead>
        <tr>
          <th>#</th>
          <th>名前</th>
          <th>メールアドレス</th>
          <th>電話番号</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">1</th>
            <td>煌木 太郎</td>
            <td>taro.kirameki@example.com</td>
            <td>09011112222</td>
        </tr>
        <tr>
          <th scope="row">2</th>
            <td>煌木 次郎</td>
            <td>jiro.kirameki@example.com</td>
            <td>09033334444</td>
        </tr>
        <tr>
          <th scope="row">3</th>
            <td>煌木 花子</td>
            <td>hanako.kirameki@example.com</td>
            <td>09055556666</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

-->
<footer style="background-color:gray">Footer</footer>