<!--このファイルで起動時に表示するcomponentを記述する-->
<div class="main-div">
  <!--ヘッダーメニューの設定-->
    <mat-toolbar color="primary" class="app-header">
      <button mat-icon-button (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
      <span>Config</span>
      <span class="spacer"></span>
      <button mat-icon-button>
        <mat-icon>account_circle</mat-icon>
      </button>
      <span>{{user}}</span>
      <span class="example-spacer"></span>
      <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
          <mat-icon>favorite</mat-icon>
      </button>
      <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
          <mat-icon>share</mat-icon>
      </button>
    </mat-toolbar>
  
    <!--サイドメニュー-->
    <mat-drawer-container class="sidenav-container">
      <mat-drawer #sidenav [mode]="sidenavMode" [opened]="sidenavOpened" class="sidenav-drawer" fixedInViewport="false">
        <p>Auto-resizing sidenav</p>
        <p *ngIf="showFiller">Lorem, ipsum dolor sit amet consectetur.</p>
        <button (click)="showFiller = !showFiller" mat-raised-button>
          Toggle extra text
        </button>
        <mat-list>
          <mat-list-item>
            <mat-icon matListIcon>people</mat-icon>Users
          </mat-list-item>
          <mat-list-item>
            <mat-icon matListIcon>devices_other</mat-icon>Devices
          </mat-list-item>
        </mat-list>
      </mat-drawer>
      <router-outlet></router-outlet>
    </mat-drawer-container>
  </div>



<div class="main">
</div>
