<!--このファイルで起動時に表示するcomponentを記述する <div class="main-div"  [hidden]="!isHiddenMenu">-->
<div class="main-div"  [style.display]="isDisplayMenu">
  <!--ヘッダーメニューの設定-->
  <mat-toolbar color="primary" class="app-header">
    <button mat-icon-button (click)="onClickMenuButton()">
      <mat-icon>menu</mat-icon>
    </button>
    <span>Config</span>
    <span class="spacer"></span>
    <button mat-icon-button>
      <mat-icon>account_circle</mat-icon>
    </button>
    <span>{{user}}</span>
    <span class="example-spacer"></span>
    <button mat-icon-button class="example-icon" aria-label="Home Link" routerLink="/main">
      <mat-icon>home</mat-icon>
    </button>
    <button mat-icon-button class="example-icon favorite-icon" aria-label="Copy Model Source" routerLink="/example">
      <mat-icon>content_paste</mat-icon>
    </button>
    <button mat-icon-button class="example-icon" aria-label="Explain this page" routerLink="/explain">
      <mat-icon>help_outline</mat-icon>
    </button>
  </mat-toolbar>
</div>
<!--Router切り替え用タグ-->
<router-outlet></router-outlet>
